<div style="margin-left:200px;margin-top:100px;">
  <div>
    <%= link_to "Загрузка картинки с алиасом", image_upload_test_url %>

  </div>
  <div>
    <%= link_to "Загрузка картинки для Продукта", new_product_url %>    
  </div>
</div>